/* form styles 
	imported from form.scss */

/* form grouping and spacing */
.form-group {
	padding: 0 0 16px 0;
	clear: both;
}

.form-fields {
	padding: 0 0 4px 0;
	clear: both;
}

/* label for normal text inputs */
label {
	font-size: 12px;
	position: relative;
	line-height: 1;
}

/* text inputs */
input[type=text], input[type=password], input[type=email], textarea {
	font-family: $fonts;
	font-size: 14px;
	border: 1px solid $color-border-gray;
	border-radius: 6px;
	display: block;
	box-shadow: 0 0 0 2px rgba(0,0,0,0), inset 0 2px 0 0 rgba(0,0,0,0.2);
	background: #fff;
	padding: 10px;
	outline: none;
	-webkit-transition: box-shadow 1s;
	-moz-transition: box-shadow 1s;
	-o-transition: box-shadow 1s;
  transition: box-shadow 1s;
  -webkit-appearance: none;
  &:disabled {
  	border: none;
  	background: transparent;
  	box-shadow: none;
  }
}

textarea {
	height: 140px;
}

/* text input error */
.error {
	input[type=text], input[type=password], input[type=email], textarea {
		box-shadow: 0 0 0 2px rgba(255, 149, 149, 1);
	}
}