/* background colors */

$color-html-bg: #fff;
$color-body-bg: #fff;

/* text color */
$color-text: #424242;
$color-text-h1: #2e2e2e;
$color-text-h2: #2e2e2e;

/* link text color */
$color-link: #008a7b;
$color-link-hover: #8b0041;

/* border colors */
$color-border-gray: #ccc;

/* theme colors */
$brand-blue: #3975c8;
$brand-white: #fff;
$brand-light-gray: #bababa;

/* fonts */
$fonts: "Helvetica", Arial, sans-serif;
$fonts-serif: "Times New Roman", Times, serif;

/* responsive screen sizes */
$iphone-portrait: "only screen and (max-width: 459px)";
$iphone-landscape: "only screen and (min-width: 460px) and (max-width: 760px)";
$iphone4-landscape: "only screen and (min-width: 460px) and (max-width: 500px)";
$iphone5-landscape: "only screen and (min-width: 460px) and (max-width: 760px)";
$ipad-portrait: "only screen and (min-width: 761px) and (max-width: 955px)";
$retina-display: "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx)";
$normal-screen: "only screen and (min-width: 956px)";
